/**colorized.css**/

.colors-area ul li {
  height: 80px;
  padding: 15px;
  margin: 0 1.6% 20px;
  text-align: center;
  ;
}

.bg-aqua {background-color: #7FDBFF;}
.aqua {color: #7FDBFF;}

.bg-black {background-color: #111;}
.black {color: #111;}

.bg-blue {background-color: #0D66B2;}
.blue {color: #0D66B2;}

.bg-fuchsia {background-color: #F012BE;}
.fuchsia {color: #F012BE;}

.bg-green {background-color: #2ECC40;}
.green {color: #2ECC40;}

.bg-lime {background-color: #01FF70;}
.lime {color: #01FF70;}

.bg-maroon {background-color: #85144B;}
.maroon {color: #85144B;}

.bg-navy {background-color: #001F3F;}
.navy {color: #001F3F;}

.bg-olive {background-color: #3D9970;}
.olive {color: #3D9970;}

.bg-orange {background-color: #FAA200;}
.orange {color: #FAA200;}
.links-orange a{color: #FAA200;}

.bg-purple {background-color: #B10DC9;}
.purple {color: #B10DC9;}

.bg-red {background-color: #f00;}
.red {color: #f00;}

.bg-silver {background-color: #ddd;}
.silver {color: #ddd;}

.bg-gray {background-color: #aaa;}
.gray {color: #aaa;}

.bg-teal {background-color: #39CCCC;}
.teal {color: #39CCCC;}

.bg-white {background-color: #fff;}
.white {color: #fff;}
.links-white a{color: #fff;}

.bg-yellow {background-color: #FFDC00;}
.yellow {color: #FFDC00;}